@import 'public';

// 补丁 base
@import '~@/assets/style/fixed/base.scss';
// 补丁 element
@import '~@/assets/style/fixed/element.scss';
// 补丁 markdown
@import '~@/assets/style/fixed/markdown.scss';
// 补丁 n-progress
@import '~@/assets/style/fixed/n-progress.scss';
// 补丁 vue-splitpane
@import '~@/assets/style/fixed/vue-splitpane.scss';
// 补丁 vue-grid-layout
@import '~@/assets/style/fixed/vue-grid-layout.scss';
// 不定 vue-treeselect
@import '~@/assets/style/fixed/vue-treeselect.scss';
// 补丁 tree-view
@import '~@/assets/style/fixed/tree-view.scss';

// 动画
@import '~@/assets/style/animate/vue-transition.scss';

// 在这里写公用的class
// 注意 这个文件里只写class
// mixin等内容请在 public.scss 里书写

// 文字相关
.#{$prefix}-text-center {
    text-align: center;
}

// 浮动相关
.#{$prefix}-fl {
    float: left;
}
.#{$prefix}-fr {
    float: right;
}

// 边距相关
$sizes: (0, 5, 10, 15, 20);

@for $index from 1 to 6 {
    .#{$prefix}-m-#{nth($sizes, $index)} {
        margin: #{nth($sizes, $index)}px !important;
    }
    .#{$prefix}-mt-#{nth($sizes, $index)} {
        margin-top: #{nth($sizes, $index)}px !important;
    }
    .#{$prefix}-mr-#{nth($sizes, $index)} {
        margin-right: #{nth($sizes, $index)}px !important;
    }
    .#{$prefix}-mb-#{nth($sizes, $index)} {
        margin-bottom: #{nth($sizes, $index)}px !important;
    }
    .#{$prefix}-ml-#{nth($sizes, $index)} {
        margin-left: #{nth($sizes, $index)}px !important;
    }

    .#{$prefix}-p-#{nth($sizes, $index)} {
        padding: #{nth($sizes, $index)}px !important;
    }
    .#{$prefix}-pt-#{nth($sizes, $index)} {
        padding-top: #{nth($sizes, $index)}px !important;
    }
    .#{$prefix}-pr-#{nth($sizes, $index)} {
        padding-right: #{nth($sizes, $index)}px !important;
    }
    .#{$prefix}-pb-#{nth($sizes, $index)} {
        padding-bottom: #{nth($sizes, $index)}px !important;
    }
    .#{$prefix}-pl-#{nth($sizes, $index)} {
        padding-left: #{nth($sizes, $index)}px !important;
    }
}

// 快速使用

.#{$prefix}-m {
    margin: 20px !important;
}
.#{$prefix}-mt {
    margin-top: 20px !important;
}
.#{$prefix}-mr {
    margin-right: 20px !important;
}
.#{$prefix}-mb {
    margin-bottom: 20px !important;
}
.#{$prefix}-ml {
    margin-left: 20px !important;
}

.#{$prefix}-p {
    padding: 20px !important;
}
.#{$prefix}-pt {
    padding-top: 20px !important;
}
.#{$prefix}-pr {
    padding-right: 20px !important;
}
.#{$prefix}-pb {
    padding-bottom: 20px !important;
}
.#{$prefix}-pl {
    padding-left: 20px !important;
}

// 样式微调

.logo-group {
    box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 9px -3px;
}

.d2-theme-header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px -2px;
    height: 54px !important;
}

.d2-multiple-page-control .el-tabs__item {
    line-height: 36px !important;
    height: 36px !important;
}

.d2-multiple-page-control .el-tabs__nav {
    height: 36px;
}

.d2-header-right {
    height: 54px !important;
}

.d2-theme-header .toggle-aside-btn {
    height: 54px !important;
}

.d2-theme-container-main-header {
    height: 36px !important;
}

.d2-multiple-page-control-group .el-button-group .el-button {
    height: 35px;
}

.d2-multiple-page-control-group .el-button-group .el-button > span {
    position: relative;
    bottom: 1px;
}

.el-card.d2-card-mini {
    .el-card__header {
        padding: 12px 20px;
        font-size: 14px;
    }
    .el-card__body {
        padding: 12px 20px;
    }
}

.el-card {
    .el-upload {
        display: block !important;
    }
    .el-upload-list__item:first-child {
        margin-top: 0 !important;
    }
}

.el-form-item__label {
    font-size: 13px !important;
}

// sheet表格样式

.sheet-table {
    font-size: 12px;
    // color: #303133;
    color: black;
    border-collapse: collapse;
    td {
        text-align: center;
        vertical-align: middle;
    }
    // th, td {
    //     border-right: 1px solid #999;
    //     border-bottom: 1px solid #999;
    // }
    td {
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
    }
    tr {
        border-top: 1px solid #999;
        border-left: 1px solid #999;
    }
    tr:first-child {
        border-top: none;
        border-left: none;
    }
    .el-input__inner {
        text-align: center;
        border: none;
        // color: #333;
        color: #1f0ffd;
    }
    ::-webkit-input-placeholder { 
        color: #666;
    }
}

.sheet-editor {
    .editor-wrapper {
        height: 100%;
        border-right: 1px solid #12537c;
        .editor-action-bar {
            height: 40px;
            background-color: #08243f;
            border-bottom: 1px solid #12537c;
            .action-group {
                height: 100%;
                display: flex;
                align-content: center;
                justify-content: flex-end;
                padding: 0 10px;
                .el-button {
                    margin-left: 10px;
                }
            }
        }
        .editor-content {
            height: calc(100% - 41px);
        }
    }
    .sheet-preview-canvas {
        height: 100%;
        width: 100%;
        min-width: 780px;
        position: relative;
        background-color: #061829;
        .canvas-wrapper {
            width: 760px;
            height: 480px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-image: url('~@/assets/images/ipad_air_2_portrait.png');
            background-position: center;
            background-size: 100% 100%;
            .canvas-content {
                overflow: auto;
                width: 1088px;
                height: 716.3px;
                position: absolute;
                left: -164px;
                top: -118px;
                padding: 20px;
                box-sizing: border-box;
                transform: scale(0.6);
                .sheet-table {
                    color: white !important;
                    .el-input__inner {
                        background: transparent;
                        color: white;
                    }
                }
            }
        }
    }
    .d2-container-full__header {
        background-color: #08243f !important;
        border-bottom: 1px solid #12537c !important;
        .d2-search-panel--title {
            background-color: #08243f;
        }
    }
}

// normalize style

div:focus {
    outline: none;
}